*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --ff-archivo: "Archivo", serif; 

    --h1: 800 1.5rem/1.35 var(--ff-archivo);
    --h2: 800 1rem/1.4 var(--ff-archivo);
    --h3: 800 .875rem/1.4 var(--ff-archivo);
    --span: 600 .875rem/1.45 var(--ff-archivo);
    --paragraph: .875rem/1.6 var(--ff-archivo);
}

body{
    font: var(--paragraph);
    color: var(--text-color-secondary);
    overflow-x: hidden;

    background-color: var(--bg-color);
}

html{
  overflow-x: hidden;
}

h1 {
  font: var(--h1);
  color: var(--text-color-primary);
}

h2 {
  font: var(--h2);
  color: var(--text-color-primary);
}

h3{
  font: var(--h3);
  color: var(--text-color-primary);
}

.container{
  margin-inline: 1rem;
}

.desktop-only{
  display: none;
}

img{
  width: 100%;
  object-fit: cover;
}

a{
  font: var(--span);
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: var(--brand-color-light);
}

span{
  background-color: var(--brand-color-dark);
  display: block;
  max-width: fit-content;
  font: 500 .625rem/1.2 var(--ff-archivo);
  text-transform: uppercase;
  letter-spacing: .04em;
  padding: .25rem .5rem;
  border-radius: .25rem;
  margin-bottom: .5rem;
}

@media (width >= 80em){
  .container{
    margin-inline: 2rem;
  }
  .desktop-only{
    display: block;
  }

  .mobile-only{
    display: none;
  }
}